h2, p {
    text-align: center;
    width: 55%;
}

h2 {
    position: absolute;
}

p {
    margin-top: 5rem;
}

.jumbotron {
    background-color: white;
}

.btn {
    margin: 1rem;
    width: 40%;
    height: 2.5rem;
}

#directions, #currentQuestion {
    text-align: center;
}

#currentQuestion {
    margin-left: 20%;
    margin-right: 20%;
    width: 100%;
}

#highscores {
    float: left;
    padding-left: 1rem;
    position: absolute;
    margin-top: -4rem;
}

#time {
    float: right;
    margin-right: 3rem;
    margin-top: 2rem;
}

#timerText {
    float: right;
    margin-right: 2rem;
    margin-top: -2rem;
}

#startQuiz {
    width: 10rem;
    margin-right: 5rem;
}

