
body {
    background-image: url(./thumb-1920-807907.jpg);
    background-size: auto;
    font-size: large;
}
p {
    margin-top: 5rem;
	text-align: center;
	width: 100%;
}
h1 {
    margin-left: 30%;
    margin-right: 30%;
    text-decoration: underline;
}
.btn {
    height: 2.5rem;
    margin: 5rem;
    width: 30rem;
}
.container {
    justify-content: center;
}
.jumbotron {
    background: rgba(255, 255, 255, 0.7);
	margin: 40px;
	padding: 80px;
}
.d-flex {
    margin-left: 20%;
    margin-right: 20%;
}
#time {
    float: right;
    margin-right: 6rem;
    margin-top: 2rem;
}
#highscores {
    float: left;
    margin-top: -3rem;
    padding-left: 6rem;
}
#currentQuestion {
	text-align: center;
}
#timerText {
	float: right;
	margin-right: 2rem;
	margin-top: -2rem;
}
#startBtn {
    width: 40rem;
    height: auto;
    font-size: larger;
}
#btnOne, #btnTwo, #btnThree {
    height: 4rem;
    width: 600px;
    margin: 10%;
}